.neo-header {
    z-index: 222;
    md-toolbar {
        min-height: 80px;
        background-color: white;
        .md-toolbar-tools {
            height: 80px;
            max-height: 80px;
            .md-icon-button {
                height: 80px;
                width: 80px;
                margin-left: -16px;
                padding: 0;
                background-color: $main-button-color;
                border-radius: 0;
                color: white;
                img.logo {
                    height: 80px;
                    width: 80px;
                }
                span {
                    font-size: 22px;
                    text-transform: none; 
                }
                sup {
                    font-size: 16px;
                    display: inline-block;
                }
                &:hover {
                    background-color: $main-button-color;
                }
            }

            .mobile-nav {
                .fa.fa-bars {
                    color: $general-text-color;
                }
            }
            .desktop-nav {
                height: 100%;
                width: 100%;
                border-right-width: 2px;
                border-color: #eee;
                border-right-style: solid;
                .nav-list {
                    height: 100%;
                    margin: 0;

                    li {
                        padding: 0 44px 0 0;

                        @media screen and (max-width: 1015px) {
                            padding: 0 35px 0 0;
                        }
                        & > a.nav-tab {
                            font-size: 11px;
                            color: $general-text-color;
                            vertical-align: middle;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }
                    }

                    @media screen and (max-width: 1015px) {
                        padding-left: 14px;
                    }
                }
            }
            .search-wrapper {
                form.search-form {
                    padding-left: 40px;
                    .fa.fa-search {
                        font-size: 14px;
                        color: $icon-color;
                    }
                    md-autocomplete {
                        height: 80px;
                        md-autocomplete-wrap {
                            height: 80px;
                            box-shadow: none;
                            input:not(.md-input) {
                                height: 80px;
                                // font-family: Open Sans;
                                font-size: 13px;
                                font-style: italic;
                            }
                        }
                        
                        
                    }

                }
            }
            .profile-info {
                height: 30px;
                text-align: right;
                .search-icon {
                    min-width: auto;
                    min-height: auto;
                    margin: 0;
                    padding: 0;
                    background-color: transparent;
                    color: $general-text-color;
                    .fa.fa-search {
                        font-size: 1.5em;
                    }
                }
                .info-icon {
                    width: 18px;
                    margin-left: 40px;

                    @media (max-width: $mobile-width-sm) {
                        &.reload,
                        &.bell-icon {
                            display: none;
                        }
                    }
                    
                }
                .profile-img {
                    margin-left: 40px;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                }
            }
            &.search-header {
                .md-icon-button {
                    .fa.fa-arrow-left {
                        font-size: 24px;
                    }
                }
            }
        }
    
    }
}
