$general-text-color: #37394C;
$main-button-color: #2f4c5a;
$icon-color: #37394C;
$background-color: #f4f1ea;
$datepicker-bgrd-color: #0e0f11;
$container-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.4);
$learn-more-border-color: rgba(255, 255, 255, 0.5);
$filter-btn-color: #cfcbc0;
$title-color: #414355;